//colors
$yellow: #ff0;
$black: #000;
$silver: #c0c0c0;
$color_gallery_approx: #eee;
$color_celeste_approx: #ccc;
$color_alto_approx: #ddd;
$seashell: #f1f1f1;
$white: #fff;
$black_20: rgba(0, 0, 0, 0.2);
$black_19: rgba(0, 0, 0, 0.19);
$black_40: rgba(0, 0, 0, 0.4);
$black_50: rgba(0, 0, 0, 0.5);
$color_apple_approx: #4caf50;
$crimson: crimson;
$black_16: rgba(0, 0, 0, 0.16);
$black_12: rgba(0, 0, 0, 0.12);
$color_amber_approx: #ffc107;
$cyan_aqua: #00ffff;
$color_dodger_blue_approx: #2196f3;
$color_seagull_approx: #87ceeb;
$color_roman_coffee_approx: #795548;
$color_robins_egg_blue_approx: #00bcd4;
$color_smalt_blue_approx: #607d8b;
$color_sushi_approx: #8bc34a;
$color_cerulean_blue_approx: #3f51b5;
$khaki: #f0e68c;
$color_pear_approx: #cddc39;
$color_california_approx: #ff9800;
$color_flamingo_approx: #ff5722;
$color_razzmatazz_approx: #e91e63;
$color_violet_eggplant_approx: #9c27b0;
$color_purple_heart_approx: #673ab7;
$color_red_orange_approx: #f44336;
$old_lace: #fdf5e6;
$color_gossamer_approx: #009688;
$color_golden_fizz_approx: #ffeb3b;
$color_star_dust_approx: #9e9e9e;
$color_storm_dust_approx: #616161;
$color_pippin_approx: #ffdddd;
$color_snowy_mint_approx: #ddffdd;
$color_cream_approx: #ffffcc;
$color_baby_blue_approx: #ddffff;
$color_husk_approx: #b4aa50;
$color_gold_tips_approx: #d2be0e;
$color_tapa_approx: #757575;
$color_masala_approx: #3a3a3a;
$color_fair_pink_approx: #ffe7e7;
$color_hint_of_green_approx: #e7ffe7;
$color_tranquil_approx: #e7ffff;

//fonts
$font_0: monospace;
$font_1: Verdana;
$font_2: sans-serif;
$font_3: serif;
$font_4: Segoe UI;
$font_5: Arial;
$font_6: Consolas;
$font_7: courier new;

//@extend-elements
//original selectors
//sub, sup
%extend_1 {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

//original selectors
//html, body
%extend_2 {
  font-family: $font_1, $font_2;
  font-size: 15px;
  line-height: 1.5;
}

//original selectors
//h1, h2, h3, h4, h5, h6
%extend_3 {
  font-family: $font_4, $font_5, $font_2;
  font-weight: 400;
  margin: 10px 0;
}

//original selectors
//.i-table, .i-table-all
%extend_4 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

//original selectors
//.i-table td, .i-table th, .i-table-all td, .i-table-all th
%extend_5 {
  padding: 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

//original selectors
//.i-btn, .i-button
%extend_6 {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
}

//original selectors
//.i-badge, .i-tag
%extend_7 {
  background-color: $black;
  color: $white;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

//original selectors
//.i-dropdown-click, .i-dropdown-hover
%extend_8 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

//original selectors
//.i-check, .i-radio
%extend_9 {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

//original selectors
//.i-bar-block .i-dropdown-hover .i-button, .i-bar-block .i-dropdown-click .i-button
%extend_10 {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

//original selectors
//.i-container:after, .i-container:before, .i-panel:after, .i-panel:before, .i-row:after, .i-row:before, .i-row-padding:after, .i-row-padding:before, .i-cell-row:before, .i-cell-row:after, .i-clear:after, .i-clear:before, .i-bar:before, .i-bar:after
%extend_11 {
  content: "";
  display: table;
  clear: both;
}


html {
  overflow-x: hidden;
  @extend %extend_2;
  [type=button] {
  }
}
* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: inherit;
  &:before {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: inherit;
  }
  &:after {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: inherit;
  }
}
body {
  margin: 0;
  @extend %extend_2;
}
article {
  display: block;
}
aside {
  display: block;
}
details {
  display: block;
}
figcaption {
  display: block;
}
figure {
  display: block;
  margin: 1em 40px;
}
footer {
  display: block;
}
header {
  display: block;
}
main {
  display: block;
}
menu {
  display: block;
}
nav {
  display: block;
}
section {
  display: block;
}
summary {
  display: block;
}
audio {
  display: inline-block;
  &:not([controls]) {
    display: none;
    height: 0;
  }
}
canvas {
  display: inline-block;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
video {
  display: inline-block;
}
[hidden] {
  display: none;
}
template {
  display: none;
}
a {
  background-color: transparent;
  color: inherit;
  &:active {
    outline-width: 0;
  }
  &:hover {
    outline-width: 0;
  }
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: $yellow;
  color: $black;
}
small {
  font-size: 80%;
}
sub {
  @extend %extend_1;
  bottom: -0.25em;
}
sup {
  @extend %extend_1;
  top: -0.5em;
}
img {
  border-style: none;
  margin-bottom: -5px;
}
code {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
kbd {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
pre {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
samp {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
hr {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid $color_gallery_approx;
  margin: 20px 0;
}
button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}
input {
  font: inherit;
  margin: 0;
  overflow: visible;
}
select {
  font: inherit;
  margin: 0;
  text-transform: none;
}
textarea {
  font: inherit;
  margin: 0;
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=reset]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
fieldset {
  border: 1px solid $silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
[type=checkbox] {
  padding: 0;
}
[type=radio] {
  padding: 0;
}
[type=number]::-webkit-inner-spin-button {
  height: auto;
}
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button {
}
[type=search]::-webkit-search-decoration {
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  font: inherit;
}
h1 {
  font-size: 36px;
  @extend %extend_3;
}
h2 {
  font-size: 30px;
  @extend %extend_3;
}
h3 {
  font-size: 24px;
  @extend %extend_3;
}
h4 {
  font-size: 20px;
  @extend %extend_3;
}
h5 {
  font-size: 18px;
  @extend %extend_3;
}
h6 {
  font-size: 16px;
  @extend %extend_3;
}
.i-serif {
  font-family: $font_3;
}
.i-wide {
  letter-spacing: 4px;
}
.i-image {
  max-width: 100%;
  height: auto;
}
.i-table {
  @extend %extend_4;
  td {
    @extend %extend_5;
    &:first-child {
      padding-left: 16px;
    }
  }
  th {
    @extend %extend_5;
    &:first-child {
      padding-left: 16px;
    }
  }
}
.i-table-all {
  @extend %extend_4;
  border: 1px solid $color_celeste_approx;
  tr {
    border-bottom: 1px solid $color_alto_approx;
    &:nth-child(odd) {
      background-color: $white;
    }
    &:nth-child(even) {
      background-color: $seashell;
    }
  }
  td {
    @extend %extend_5;
    &:first-child {
      padding-left: 16px;
    }
  }
  th {
    @extend %extend_5;
    &:first-child {
      padding-left: 16px;
    }
  }
}
.i-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 8px 16px;
    border-bottom: 1px solid $color_alto_approx;
    &:last-child {
      border-bottom: none;
    }
  }
  &.i-hoverable li:hover {
    background-color: $color_celeste_approx;
  }
}
.i-btn {
  @extend %extend_6;
  &:hover {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 8px 16px 0 $black_20, 0 6px 20px 0 $black_19;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    &:hover {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: none;
    }
  }
  &.i-disabled:hover {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
}
.i-button {
  @extend %extend_6;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  &:hover {
    color: $black!important;
    background-color: $color_celeste_approx!important;
  }
}
.i-disabled {
  cursor: not-allowed;
  opacity: 0.3;
  * {
    pointer-events: none;
  }
}
.i-badge {
  @extend %extend_7;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
}
.i-tag {
  @extend %extend_7;
}
.i-tooltip {
  position: relative;
  .i-text {
    display: none;
  }
  &:hover .i-text {
    display: inline-block;
  }
}
.i-display-container {
  position: relative;
  &:hover {
    .i-display-hover {
      display: block;
    }
    span.i-display-hover {
      display: inline-block;
    }
  }
}
.i-ripple {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 0s;
  &:active {
    opacity: 0.5;
  }
}
.i-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid $color_celeste_approx;
  width: 100%;
}
.i-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color_celeste_approx;
}
.i-dropdown-click {
  @extend %extend_8;
  &:hover {
    background-color: $color_celeste_approx;
    color: $black;
    > .i-button:first-child {
      background-color: $color_celeste_approx;
      color: $black;
    }
  }
}
.i-dropdown-hover {
  @extend %extend_8;
  &:hover {
    .i-dropdown-content {
      display: block;
      z-index: 1;
    }
    > .i-button:first-child {
      background-color: $color_celeste_approx;
      color: $black;
    }
  }
  &:first-child {
    background-color: $color_celeste_approx;
    color: $black;
  }
}
.i-dropdown-content {
  cursor: auto;
  color: $black;
  background-color: $white;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
}
.i-check {
  @extend %extend_9;
}
.i-radio {
  @extend %extend_9;
}
.i-sidebar {
  height: 100%;
  width: 200px;
  background-color: $white;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}
.i-bar-block {
  .i-dropdown-hover {
    width: 100%;
    .i-dropdown-content {
      min-width: 100%;
    }
    .i-button {
      @extend %extend_10;
    }
  }
  .i-dropdown-click {
    width: 100%;
    .i-dropdown-content {
      min-width: 100%;
    }
    .i-button {
      @extend %extend_10;
    }
  }
  .i-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
  }
  &.i-center .i-bar-item {
    text-align: center;
  }
}
.i-main {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: margin-left .4s;
}
#main {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: margin-left .4s;
}
.i-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $black;
  background-color: $black_40;
}
.i-modal-content {
  margin: auto;
  background-color: $white;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
.i-bar {
  width: 100%;
  overflow: hidden;
  .i-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
  }
  .i-dropdown-hover {
    position: static;
    float: left;
  }
  .i-dropdown-click {
    position: static;
    float: left;
  }
  .i-button {
    white-space: normal;
  }
  &:before {
    @extend %extend_11;
  }
  &:after {
    @extend %extend_11;
  }
}
.i-center {
  text-align: center!important;
  .i-bar {
    display: inline-block;
    width: auto;
  }
}
.i-block {
  display: block;
  width: 100%;
}
.i-responsive {
  display: block;
  overflow-x: auto;
}
.i-container {
  padding: 0.01em 16px;
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
}
.i-panel {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
}
.i-row {
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
}
.i-row-padding {
  padding: 0 8px;
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
  > {
    .i-half {
      padding: 0 8px;
    }
    .i-third {
      padding: 0 8px;
    }
    .i-twothird {
      padding: 0 8px;
    }
    .i-threequarter {
      padding: 0 8px;
    }
    .i-quarter {
      padding: 0 8px;
    }
    .i-col {
      padding: 0 8px;
    }
  }
}
.i-cell-row {
  display: table;
  width: 100%;
  &:before {
    @extend %extend_11;
  }
  &:after {
    @extend %extend_11;
  }
}
.i-clear {
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
}
.i-col {
  float: left;
  width: 100%;
  &.s1 {
    width: 8.33333%;
  }
  &.s2 {
    width: 16.66666%;
  }
  &.s3 {
    width: 24.99999%;
  }
  &.s4 {
    width: 33.33333%;
  }
  &.s5 {
    width: 41.66666%;
  }
  &.s6 {
    width: 49.99999%;
  }
  &.s7 {
    width: 58.33333%;
  }
  &.s8 {
    width: 66.66666%;
  }
  &.s9 {
    width: 74.99999%;
  }
  &.s10 {
    width: 83.33333%;
  }
  &.s11 {
    width: 91.66666%;
  }
  &.s12 {
    width: 99.99999%;
  }
}
.i-half {
  float: left;
  width: 100%;
}
.i-third {
  float: left;
  width: 100%;
}
.i-twothird {
  float: left;
  width: 100%;
}
.i-threequarter {
  float: left;
  width: 100%;
}
.i-quarter {
  float: left;
  width: 100%;
}
@media(min-width: 601px) {
  .i-col {
    &.m1 {
      width: 8.33333%;
    }
    &.m2 {
      width: 16.66666%;
    }
    &.m3 {
      width: 24.99999%;
    }
    &.m4 {
      width: 33.33333%;
    }
    &.m5 {
      width: 41.66666%;
    }
    &.m6 {
      width: 49.99999%;
    }
    &.m7 {
      width: 58.33333%;
    }
    &.m8 {
      width: 66.66666%;
    }
    &.m9 {
      width: 74.99999%;
    }
    &.m10 {
      width: 83.33333%;
    }
    &.m11 {
      width: 91.66666%;
    }
    &.m12 {
      width: 99.99999%;
    }
  }
  .i-quarter {
    width: 24.99999%;
  }
  .i-third {
    width: 33.33333%;
  }
  .i-half {
    width: 49.99999%;
  }
  .i-twothird {
    width: 66.66666%;
  }
  .i-threequarter {
    width: 74.99999%;
  }
}
@media(min-width: 993px) {
  .i-col {
    &.l1 {
      width: 8.33333%;
    }
    &.l2 {
      width: 16.66666%;
    }
    &.l3 {
      width: 24.99999%;
    }
    &.l4 {
      width: 33.33333%;
    }
    &.l5 {
      width: 41.66666%;
    }
    &.l6 {
      width: 49.99999%;
    }
    &.l7 {
      width: 58.33333%;
    }
    &.l8 {
      width: 66.66666%;
    }
    &.l9 {
      width: 74.99999%;
    }
    &.l10 {
      width: 83.33333%;
    }
    &.l11 {
      width: 91.66666%;
    }
    &.l12 {
      width: 99.99999%;
    }
  }
  .i-modal-content {
    width: 900px;
  }
  .i-hide-large {
    display: none!important;
  }
  .i-sidebar.i-collapse {
    display: block!important;
  }
}
.i-content {
  max-width: 980px;
  margin: auto;
}
.i-rest {
  overflow: hidden;
}
.i-cell {
  display: table-cell;
}
.i-cell-top {
  vertical-align: top;
}
.i-cell-middle {
  vertical-align: middle;
}
.i-cell-bottom {
  vertical-align: bottom;
}
.i-hide {
  display: none!important;
}
.i-show-block {
  display: block!important;
}
.i-show {
  display: block!important;
}
.i-show-inline-block {
  display: inline-block!important;
}
@media(max-width: 600px) {
  .i-modal-content {
    margin: 0 10px;
    width: auto!important;
  }
  .i-modal {
    padding-top: 30px;
  }
  .i-hide-small {
    display: none!important;
  }
  .i-mobile {
    display: block;
    width: 100%!important;
  }
  .i-dropdown-hover.i-mobile {
    text-align: center;
    width: 100%;
    .i-dropdown-content {
      position: relative;
    }
    .i-btn {
      width: 100%;
    }
    .i-button {
      width: 100%;
    }
  }
  .i-dropdown-click.i-mobile {
    text-align: center;
    width: 100%;
    .i-dropdown-content {
      position: relative;
    }
    .i-btn {
      width: 100%;
    }
    .i-button {
      width: 100%;
    }
  }
  .i-bar-item.i-mobile {
    text-align: center;
  }
}
@media(max-width: 768px) {
  .i-modal-content {
    width: 500px;
  }
  .i-modal {
    padding-top: 50px;
  }
}
@media(max-width: 992px) and(min-width: 601px) {
  .i-hide-medium {
    display: none!important;
  }
}
@media(max-width: 992px) {
  .i-main {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .i-sidebar.i-collapse {
    display: none;
  }
}
.i-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
.i-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}
.i-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black_50;
  z-index: 2;
}
.i-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}
.i-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}
.i-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}
.i-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}
.i-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, -50%);
}
.i-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(0%, -50%);
}
.i-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(0%, -50%);
}
.i-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, 0);
}
.i-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, 0);
}
.i-display-hover {
  display: none;
}
.i-display-position {
  position: absolute;
}
.i-circle {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
}
.i-round-small {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
}
.i-round {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
}
.i-round-medium {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
}
.i-round-large {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
}
.i-round-xlarge {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 16px;
}
.i-round-xxlarge {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 32px;
}
.i-code {
  font-family: $font_6, $font_7;
  font-size: 16px;
  width: auto;
  background-color: $white;
  padding: 8px 12px;
  border-left: 4px solid $color_apple_approx;
  word-wrap: break-word;
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}
.i-codespan {
  font-family: $font_6, $font_7;
  font-size: 16px;
  color: $crimson;
  background-color: $seashell;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}
.i-card {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 5px 0 $black_16, 0 2px 10px 0 $black_12;
}
.i-card-2 {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 5px 0 $black_16, 0 2px 10px 0 $black_12;
}
.i-card-4 {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 4px 10px 0 $black_20, 0 4px 20px 0 $black_19;
}
.i-spin {
  animation: u-spin 2s infinite linear;
}
@keyframes u-spin {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(359deg);
  }
}
.i-animate-fading {
  animation: fading 10s infinite;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.i-animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.i-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.i-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.i-animate-right {
  position: relative;
  animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.i-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.i-animate-zoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0);
  }
  to {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
  }
}
.i-animate-input {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: width 0.4s ease-in-out;
  &:focus {
    width: 100%!important;
  }
}
.i-opacity {
  opacity: 0.60;
}
.i-opacity-off {
  opacity: 1;
}
.i-opacity-max {
  opacity: 0.25;
}
.i-opacity-min {
  opacity: 0.75;
}
.i-greyscale-max {
  filter: grayscale(100%);
}
.i-grayscale-max {
  filter: grayscale(100%);
}
.i-greyscale {
  filter: grayscale(75%);
}
.i-grayscale {
  filter: grayscale(75%);
}
.i-greyscale-min {
  filter: grayscale(50%);
}
.i-grayscale-min {
  filter: grayscale(50%);
}
.i-sepia {
  filter: sepia(75%);
}
.i-sepia-max {
  filter: sepia(100%);
}
.i-sepia-min {
  filter: sepia(50%);
}
.i-tiny {
  font-size: 10px!important;
}
.i-small {
  font-size: 12px!important;
}
.i-medium {
  font-size: 15px!important;
}
.i-large {
  font-size: 18px!important;
}
.i-xlarge {
  font-size: 24px!important;
}
.i-xxlarge {
  font-size: 36px!important;
}
.i-xxxlarge {
  font-size: 48px!important;
}
.i-jumbo {
  font-size: 64px!important;
}
.i-left-align {
  text-align: left!important;
}
.i-right-align {
  text-align: right!important;
}
.i-justify {
  text-align: justify!important;
}
.i-border-0 {
  border: 0!important;
}
.i-border {
  border: 1px solid $color_celeste_approx!important;
}
.i-border-top {
  border-top: 1px solid $color_celeste_approx!important;
}
.i-border-bottom {
  border-bottom: 1px solid $color_celeste_approx!important;
}
.i-border-left {
  border-left: 1px solid $color_celeste_approx!important;
}
.i-border-right {
  border-right: 1px solid $color_celeste_approx!important;
}
.i-topbar {
  border-top: 6px solid $color_celeste_approx!important;
}
.i-bottombar {
  border-bottom: 6px solid $color_celeste_approx!important;
}
.i-leftbar {
  border-left: 6px solid $color_celeste_approx!important;
}
.i-rightbar {
  border-right: 6px solid $color_celeste_approx!important;
}
.i-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}
.i-margin {
  margin: 16px!important;
}
.i-margin-top {
  margin-top: 16px!important;
}
.i-margin-bottom {
  margin-bottom: 16px!important;
}
.i-margin-left {
  margin-left: 16px!important;
}
.i-margin-right {
  margin-right: 16px!important;
}
.i-padding-small {
  padding: 4px 8px!important;
}
.i-padding {
  padding: 8px 16px!important;
}
.i-padding-large {
  padding: 12px 24px!important;
}
.i-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
.i-padding-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important;
}
.i-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}
.i-padding-48 {
  padding-top: 48px!important;
  padding-bottom: 48px!important;
}
.i-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}
.i-left {
  float: left!important;
}
.i-right {
  float: right!important;
}
.i-transparent {
  background-color: transparent!important;
}
.i-amber {
  color: $black!important;
  background-color: $color_amber_approx!important;
}
.i-aqua {
  color: $black!important;
  background-color: $cyan_aqua!important;
}
.i-blue {
  color: $white!important;
  background-color: $color_dodger_blue_approx!important;
}
.i-light-blue {
  color: $black!important;
  background-color: $color_seagull_approx!important;
}
.i-brown {
  color: $white!important;
  background-color: $color_roman_coffee_approx!important;
}
.i-cyan {
  color: $black!important;
  background-color: $color_robins_egg_blue_approx!important;
}
.i-blue-grey {
  color: $white!important;
  background-color: $color_smalt_blue_approx!important;
}
.i-blue-gray {
  color: $white!important;
  background-color: $color_smalt_blue_approx!important;
}
.i-green {
  color: $white!important;
  background-color: $color_apple_approx!important;
}
.i-light-green {
  color: $black!important;
  background-color: $color_sushi_approx!important;
}
.i-indigo {
  color: $white!important;
  background-color: $color_cerulean_blue_approx!important;
}
.i-khaki {
  color: $black!important;
  background-color: $khaki!important;
}
.i-lime {
  color: $black!important;
  background-color: $color_pear_approx!important;
}
.i-orange {
  color: $black!important;
  background-color: $color_california_approx!important;
}
.i-deep-orange {
  color: $white!important;
  background-color: $color_flamingo_approx!important;
}
.i-pink {
  color: $white!important;
  background-color: $color_razzmatazz_approx!important;
}
.i-purple {
  color: $white!important;
  background-color: $color_violet_eggplant_approx!important;
}
.i-deep-purple {
  color: $white!important;
  background-color: $color_purple_heart_approx!important;
}
.i-red {
  color: $white!important;
  background-color: $color_red_orange_approx!important;
}
.i-sand {
  color: $black!important;
  background-color: $old_lace!important;
}
.i-teal {
  color: $white!important;
  background-color: $color_gossamer_approx!important;
}
.i-yellow {
  color: $black!important;
  background-color: $color_golden_fizz_approx!important;
}
.i-white {
  color: $black!important;
  background-color: $white!important;
}
.i-black {
  color: $white!important;
  background-color: $black!important;
}
.i-grey {
  color: $black!important;
  background-color: $color_star_dust_approx!important;
}
.i-gray {
  color: $black!important;
  background-color: $color_star_dust_approx!important;
}
.i-light-grey {
  color: $black!important;
  background-color: $seashell!important;
}
.i-light-gray {
  color: $black!important;
  background-color: $seashell!important;
}
.i-dark-grey {
  color: $white!important;
  background-color: $color_storm_dust_approx!important;
}
.i-dark-gray {
  color: $white!important;
  background-color: $color_storm_dust_approx!important;
}
.i-pale-red {
  color: $black!important;
  background-color: $color_pippin_approx!important;
}
.i-pale-green {
  color: $black!important;
  background-color: $color_snowy_mint_approx!important;
}
.i-pale-yellow {
  color: $black!important;
  background-color: $color_cream_approx!important;
}
.i-pale-blue {
  color: $black!important;
  background-color: $color_baby_blue_approx!important;
}
.i-text-amber {
  color: $color_amber_approx!important;
}
.i-text-aqua {
  color: $cyan_aqua!important;
}
.i-text-blue {
  color: $color_dodger_blue_approx!important;
}
.i-text-light-blue {
  color: $color_seagull_approx!important;
}
.i-text-brown {
  color: $color_roman_coffee_approx!important;
}
.i-text-cyan {
  color: $color_robins_egg_blue_approx!important;
}
.i-text-blue-grey {
  color: $color_smalt_blue_approx!important;
}
.i-text-blue-gray {
  color: $color_smalt_blue_approx!important;
}
.i-text-green {
  color: $color_apple_approx!important;
}
.i-text-light-green {
  color: $color_sushi_approx!important;
}
.i-text-indigo {
  color: $color_cerulean_blue_approx!important;
}
.i-text-khaki {
  color: $color_husk_approx!important;
}
.i-text-lime {
  color: $color_pear_approx!important;
}
.i-text-orange {
  color: $color_california_approx!important;
}
.i-text-deep-orange {
  color: $color_flamingo_approx!important;
}
.i-text-pink {
  color: $color_razzmatazz_approx!important;
}
.i-text-purple {
  color: $color_violet_eggplant_approx!important;
}
.i-text-deep-purple {
  color: $color_purple_heart_approx!important;
}
.i-text-red {
  color: $color_red_orange_approx!important;
}
.i-text-sand {
  color: $old_lace!important;
}
.i-text-teal {
  color: $color_gossamer_approx!important;
}
.i-text-yellow {
  color: $color_gold_tips_approx!important;
}
.i-text-white {
  color: $white!important;
}
.i-text-black {
  color: $black!important;
}
.i-text-grey {
  color: $color_tapa_approx!important;
}
.i-text-gray {
  color: $color_tapa_approx!important;
}
.i-text-light-grey {
  color: $seashell!important;
}
.i-text-light-gray {
  color: $seashell!important;
}
.i-text-dark-grey {
  color: $color_masala_approx!important;
}
.i-text-dark-gray {
  color: $color_masala_approx!important;
}
.i-border-amber {
  border-color: $color_amber_approx!important;
}
.i-border-aqua {
  border-color: $cyan_aqua!important;
}
.i-border-blue {
  border-color: $color_dodger_blue_approx!important;
}
.i-border-light-blue {
  border-color: $color_seagull_approx!important;
}
.i-border-brown {
  border-color: $color_roman_coffee_approx!important;
}
.i-border-cyan {
  border-color: $color_robins_egg_blue_approx!important;
}
.i-border-blue-grey {
  border-color: $color_smalt_blue_approx!important;
}
.i-border-blue-gray {
  border-color: $color_smalt_blue_approx!important;
}
.i-border-green {
  border-color: $color_apple_approx!important;
}
.i-border-light-green {
  border-color: $color_sushi_approx!important;
}
.i-border-indigo {
  border-color: $color_cerulean_blue_approx!important;
}
.i-border-khaki {
  border-color: $khaki!important;
}
.i-border-lime {
  border-color: $color_pear_approx!important;
}
.i-border-orange {
  border-color: $color_california_approx!important;
}
.i-border-deep-orange {
  border-color: $color_flamingo_approx!important;
}
.i-border-pink {
  border-color: $color_razzmatazz_approx!important;
}
.i-border-purple {
  border-color: $color_violet_eggplant_approx!important;
}
.i-border-deep-purple {
  border-color: $color_purple_heart_approx!important;
}
.i-border-red {
  border-color: $color_red_orange_approx!important;
}
.i-border-sand {
  border-color: $old_lace!important;
}
.i-border-teal {
  border-color: $color_gossamer_approx!important;
}
.i-border-yellow {
  border-color: $color_golden_fizz_approx!important;
}
.i-border-white {
  border-color: $white!important;
}
.i-border-black {
  border-color: $black!important;
}
.i-border-grey {
  border-color: $color_star_dust_approx!important;
}
.i-border-gray {
  border-color: $color_star_dust_approx!important;
}
.i-border-light-grey {
  border-color: $seashell!important;
}
.i-border-light-gray {
  border-color: $seashell!important;
}
.i-border-dark-grey {
  border-color: $color_storm_dust_approx!important;
}
.i-border-dark-gray {
  border-color: $color_storm_dust_approx!important;
}
.i-border-pale-red {
  border-color: $color_fair_pink_approx!important;
}
.i-border-pale-green {
  border-color: $color_hint_of_green_approx!important;
}
.i-border-pale-yellow {
  border-color: $color_cream_approx!important;
}
.i-border-pale-blue {
  border-color: $color_tranquil_approx!important;
}
svg:not(:root) {
  overflow: hidden;
}
[type=reset]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type=button]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.i-bordered tr {
  border-bottom: 1px solid $color_alto_approx;
}
.i-striped tbody tr:nth-child(even) {
  background-color: $seashell;
}
.i-hoverable tbody tr:hover {
  background-color: $color_celeste_approx;
}
.i-centered tr {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}
:disabled * {
  pointer-events: none;
}
.i-hover-shadow:hover {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 4px 10px 0 $black_20, 0 4px 20px 0 $black_19;
}
.i-hover-opacity:hover {
  opacity: 0.60;
}
.i-hover-opacity-off:hover {
  opacity: 1;
}
.i-hover-greyscale:hover {
  filter: grayscale(100%);
}
.i-hover-grayscale:hover {
  filter: grayscale(100%);
}
.i-hover-sepia:hover {
  filter: sepia(100%);
}
.i-hover-none:hover {
  background-color: transparent!important;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none!important;
}
.i-hover-amber:hover {
  color: $black!important;
  background-color: $color_amber_approx!important;
}
.i-hover-aqua:hover {
  color: $black!important;
  background-color: $cyan_aqua!important;
}
.i-hover-blue:hover {
  color: $white!important;
  background-color: $color_dodger_blue_approx!important;
}
.i-hover-light-blue:hover {
  color: $black!important;
  background-color: $color_seagull_approx!important;
}
.i-hover-brown:hover {
  color: $white!important;
  background-color: $color_roman_coffee_approx!important;
}
.i-hover-cyan:hover {
  color: $black!important;
  background-color: $color_robins_egg_blue_approx!important;
}
.i-hover-blue-grey:hover {
  color: $white!important;
  background-color: $color_smalt_blue_approx!important;
}
.i-hover-blue-gray:hover {
  color: $white!important;
  background-color: $color_smalt_blue_approx!important;
}
.i-hover-green:hover {
  color: $white!important;
  background-color: $color_apple_approx!important;
}
.i-hover-light-green:hover {
  color: $black!important;
  background-color: $color_sushi_approx!important;
}
.i-hover-indigo:hover {
  color: $white!important;
  background-color: $color_cerulean_blue_approx!important;
}
.i-hover-khaki:hover {
  color: $black!important;
  background-color: $khaki!important;
}
.i-hover-lime:hover {
  color: $black!important;
  background-color: $color_pear_approx!important;
}
.i-hover-orange:hover {
  color: $black!important;
  background-color: $color_california_approx!important;
}
.i-hover-deep-orange:hover {
  color: $white!important;
  background-color: $color_flamingo_approx!important;
}
.i-hover-pink:hover {
  color: $white!important;
  background-color: $color_razzmatazz_approx!important;
}
.i-hover-purple:hover {
  color: $white!important;
  background-color: $color_violet_eggplant_approx!important;
}
.i-hover-deep-purple:hover {
  color: $white!important;
  background-color: $color_purple_heart_approx!important;
}
.i-hover-red:hover {
  color: $white!important;
  background-color: $color_red_orange_approx!important;
}
.i-hover-sand:hover {
  color: $black!important;
  background-color: $old_lace!important;
}
.i-hover-teal:hover {
  color: $white!important;
  background-color: $color_gossamer_approx!important;
}
.i-hover-yellow:hover {
  color: $black!important;
  background-color: $color_golden_fizz_approx!important;
}
.i-hover-white:hover {
  color: $black!important;
  background-color: $white!important;
}
.i-hover-black:hover {
  color: $white!important;
  background-color: $black!important;
}
.i-hover-grey:hover {
  color: $black!important;
  background-color: $color_star_dust_approx!important;
}
.i-hover-gray:hover {
  color: $black!important;
  background-color: $color_star_dust_approx!important;
}
.i-hover-light-grey:hover {
  color: $black!important;
  background-color: $seashell!important;
}
.i-hover-light-gray:hover {
  color: $black!important;
  background-color: $seashell!important;
}
.i-hover-dark-grey:hover {
  color: $white!important;
  background-color: $color_storm_dust_approx!important;
}
.i-hover-dark-gray:hover {
  color: $white!important;
  background-color: $color_storm_dust_approx!important;
}
.i-hover-pale-red:hover {
  color: $black!important;
  background-color: $color_pippin_approx!important;
}
.i-hover-pale-green:hover {
  color: $black!important;
  background-color: $color_snowy_mint_approx!important;
}
.i-hover-pale-yellow:hover {
  color: $black!important;
  background-color: $color_cream_approx!important;
}
.i-hover-pale-blue:hover {
  color: $black!important;
  background-color: $color_baby_blue_approx!important;
}
.i-hover-text-amber:hover {
  color: $color_amber_approx!important;
}
.i-hover-text-aqua:hover {
  color: $cyan_aqua!important;
}
.i-hover-text-blue:hover {
  color: $color_dodger_blue_approx!important;
}
.i-hover-text-light-blue:hover {
  color: $color_seagull_approx!important;
}
.i-hover-text-brown:hover {
  color: $color_roman_coffee_approx!important;
}
.i-hover-text-cyan:hover {
  color: $color_robins_egg_blue_approx!important;
}
.i-hover-text-blue-grey:hover {
  color: $color_smalt_blue_approx!important;
}
.i-hover-text-blue-gray:hover {
  color: $color_smalt_blue_approx!important;
}
.i-hover-text-green:hover {
  color: $color_apple_approx!important;
}
.i-hover-text-light-green:hover {
  color: $color_sushi_approx!important;
}
.i-hover-text-indigo:hover {
  color: $color_cerulean_blue_approx!important;
}
.i-hover-text-khaki:hover {
  color: $color_husk_approx!important;
}
.i-hover-text-lime:hover {
  color: $color_pear_approx!important;
}
.i-hover-text-orange:hover {
  color: $color_california_approx!important;
}
.i-hover-text-deep-orange:hover {
  color: $color_flamingo_approx!important;
}
.i-hover-text-pink:hover {
  color: $color_razzmatazz_approx!important;
}
.i-hover-text-purple:hover {
  color: $color_violet_eggplant_approx!important;
}
.i-hover-text-deep-purple:hover {
  color: $color_purple_heart_approx!important;
}
.i-hover-text-red:hover {
  color: $color_red_orange_approx!important;
}
.i-hover-text-sand:hover {
  color: $old_lace!important;
}
.i-hover-text-teal:hover {
  color: $color_gossamer_approx!important;
}
.i-hover-text-yellow:hover {
  color: $color_gold_tips_approx!important;
}
.i-hover-text-white:hover {
  color: $white!important;
}
.i-hover-text-black:hover {
  color: $black!important;
}
.i-hover-text-grey:hover {
  color: $color_tapa_approx!important;
}
.i-hover-text-gray:hover {
  color: $color_tapa_approx!important;
}
.i-hover-text-light-grey:hover {
  color: $seashell!important;
}
.i-hover-text-light-gray:hover {
  color: $seashell!important;
}
.i-hover-text-dark-grey:hover {
  color: $color_masala_approx!important;
}
.i-hover-text-dark-gray:hover {
  color: $color_masala_approx!important;
}
.i-hover-border-amber:hover {
  border-color: $color_amber_approx!important;
}
.i-hover-border-aqua:hover {
  border-color: $cyan_aqua!important;
}
.i-hover-border-blue:hover {
  border-color: $color_dodger_blue_approx!important;
}
.i-hover-border-light-blue:hover {
  border-color: $color_seagull_approx!important;
}
.i-hover-border-brown:hover {
  border-color: $color_roman_coffee_approx!important;
}
.i-hover-border-cyan:hover {
  border-color: $color_robins_egg_blue_approx!important;
}
.i-hover-border-blue-grey:hover {
  border-color: $color_smalt_blue_approx!important;
}
.i-hover-border-blue-gray:hover {
  border-color: $color_smalt_blue_approx!important;
}
.i-hover-border-green:hover {
  border-color: $color_apple_approx!important;
}
.i-hover-border-light-green:hover {
  border-color: $color_sushi_approx!important;
}
.i-hover-border-indigo:hover {
  border-color: $color_cerulean_blue_approx!important;
}
.i-hover-border-khaki:hover {
  border-color: $khaki!important;
}
.i-hover-border-lime:hover {
  border-color: $color_pear_approx!important;
}
.i-hover-border-orange:hover {
  border-color: $color_california_approx!important;
}
.i-hover-border-deep-orange:hover {
  border-color: $color_flamingo_approx!important;
}
.i-hover-border-pink:hover {
  border-color: $color_razzmatazz_approx!important;
}
.i-hover-border-purple:hover {
  border-color: $color_violet_eggplant_approx!important;
}
.i-hover-border-deep-purple:hover {
  border-color: $color_purple_heart_approx!important;
}
.i-hover-border-red:hover {
  border-color: $color_red_orange_approx!important;
}
.i-hover-border-sand:hover {
  border-color: $old_lace!important;
}
.i-hover-border-teal:hover {
  border-color: $color_gossamer_approx!important;
}
.i-hover-border-yellow:hover {
  border-color: $color_golden_fizz_approx!important;
}
.i-hover-border-white:hover {
  border-color: $white!important;
}
.i-hover-border-black:hover {
  border-color: $black!important;
}
.i-hover-border-grey:hover {
  border-color: $color_star_dust_approx!important;
}
.i-hover-border-gray:hover {
  border-color: $color_star_dust_approx!important;
}
.i-hover-border-light-grey:hover {
  border-color: $seashell!important;
}
.i-hover-border-light-gray:hover {
  border-color: $seashell!important;
}
.i-hover-border-dark-grey:hover {
  border-color: $color_storm_dust_approx!important;
}
.i-hover-border-dark-gray:hover {
  border-color: $color_storm_dust_approx!important;
}
.i-hover-border-pale-red:hover {
  border-color: $color_fair_pink_approx!important;
}
.i-hover-border-pale-green:hover {
  border-color: $color_hint_of_green_approx!important;
}
.i-hover-border-pale-yellow:hover {
  border-color: $color_cream_approx!important;
}
.i-hover-border-pale-blue:hover {
  border-color: $color_tranquil_approx!important;
}