html {
  overflow-x: hidden;
  @extend %extend_2;
  [type=button] {
  }
}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  &:before {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: inherit;
  }
  &:after {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: inherit;
  }
}
body {
  margin: 0;
  @extend %extend_2;
}
article {
  display: block;
}
aside {
  display: block;
}
details {
  display: block;
}
figcaption {
  display: block;
}
figure {
  display: block;
  margin: 1em 40px;
}
footer {
  display: block;
}
header {
  display: block;
}
main {
  display: block;
}
menu {
  display: block;
}
nav {
  display: block;
}
section {
  display: block;
}
summary {
  display: block;
}
audio {
  display: inline-block;
  &:not([controls]) {
    display: none;
    height: 0;
  }
}
canvas {
  display: inline-block;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
video {
  display: inline-block;
}
[hidden] {
  display: none;
}
template {
  display: none;
}
a {
  background-color: transparent;
  color: inherit;
  &:active {
    outline-width: 0;
  }
  &:hover {
    outline-width: 0;
  }
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: $yellow;
  color: $black;
}
small {
  font-size: 80%;
}
sub {
  @extend %extend_1;
  bottom: -0.25em;
}
sup {
  @extend %extend_1;
  top: -0.5em;
}
img {
  border-style: none;
  vertical-align: middle;
}
code {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
kbd {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
pre {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
samp {
  font-family: $font_0, $font_0;
  font-size: 1em;
}
hr {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid $color_gallery_approx;
  margin: 20px 0;
}
button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}
input {
  font: inherit;
  margin: 0;
  overflow: visible;
}
select {
  font: inherit;
  margin: 0;
  text-transform: none;
}
textarea {
  font: inherit;
  margin: 0;
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=reset]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
fieldset {
  border: 1px solid $silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
[type=checkbox] {
  padding: 0;
}
[type=radio] {
  padding: 0;
}
[type=number]::-webkit-inner-spin-button {
  height: auto;
}
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button {
}
[type=search]::-webkit-search-decoration {
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  font: inherit;
}
h1 {
  font-size: 36px;
  @extend %extend_3;
}
h2 {
  font-size: 30px;
  @extend %extend_3;
}
h3 {
  font-size: 24px;
  @extend %extend_3;
}
h4 {
  font-size: 20px;
  @extend %extend_3;
}
h5 {
  font-size: 18px;
  @extend %extend_3;
}
h6 {
  font-size: 16px;
  @extend %extend_3;
}
.i-serif {
  font-family: $font_3;
}
.i-wide {
  letter-spacing: 4px;
}