.i-border-0 {
  border: 0;
}
.i-border {
  border: 1px solid;
}
.i-border-top {
  border-top: 1px solid;
}
.i-border-bottom {
  border-bottom: 1px solid;
}
.i-border-left {
  border-left: 1px solid;
}
.i-border-right {
  border-right: 1px solid;
}
.i-topbar {
  border-top: 6px solid;
}
.i-bottombar {
  border-bottom: 6px solid;
}
.i-leftbar {
  border-left: 6px solid;
}
.i-rightbar {
  border-right: 6px solid;
}