//colors
$yellow: #ff0;
$black: #000;
$silver: #c0c0c0;
$color_gallery_approx: #eee;
$color_celeste_approx: #ccc;
$color_alto_approx: #ddd;
$color_light_grey: #f1f1f1;
$white: #fff;
$black_20: rgba(0, 0, 0, 0.2);
$black_19: rgba(0, 0, 0, 0.19);
$black_40: rgba(0, 0, 0, 0.4);
$black_50: rgba(0, 0, 0, 0.5);
$color_green: #4caf50;
$crimson: crimson;
$black_16: rgba(0, 0, 0, 0.16);
$black_12: rgba(0, 0, 0, 0.12);
$color_amber: #ffc107;
$color_aqua: #00ffff;
$color_blue: #2196f3;
$color_light_blue: #87ceeb;
$color_brown: #795548;
$color_cyan: #00bcd4;
$color_blue_grey: #607d8b;
$color_light_green: #8bc34a;
$color_indigo: #3f51b5;
$color_khaki: #f0e68c;
$color_lime: #cddc39;
$color_orange: #ff9800;
$color_deep_orange: #ff5722;
$color_pink: #e91e63;
$color_purple: #9c27b0;
$color_deep_purple: #673ab7;
$color_red: #f44336;
$color_sand: #fdf5e6;
$color_teal: #009688;
$color_yellow: #ffeb3b;
$color_grey: #9e9e9e;
$color_dark_grey: #616161;
$color_pale_red: #ffdddd;
$color_pale_green: #ddffdd;
$color_pale_yellow: #ffffcc;
$color_pale_blue: #ddffff;
$color_khaki_text_hover: #b4aa50;
$color_yellow_text_hover: #d2be0e;
$color_grey_text_hover: #757575;
$color_dark_grey_text_hover: #3a3a3a;
$color_pale_red_border_hover: #ffe7e7;
$color_pale_green_border_hover: #e7ffe7;
$color_pale_blue_border_hover: #e7ffff;

.i-transparent {
  background-color: transparent!important;
}
.i-amber {
  color: $black!important;
  background-color: $color_amber!important;
}
.i-aqua {
  color: $black!important;
  background-color: $color_aqua!important;
}
.i-blue {
  color: $white!important;
  background-color: $color_blue!important;
}
.i-light-blue {
  color: $black!important;
  background-color: $color_light_blue!important;
}
.i-brown {
  color: $white!important;
  background-color: $color_brown!important;
}
.i-cyan {
  color: $black!important;
  background-color: $color_cyan!important;
}
.i-blue-grey {
  color: $white!important;
  background-color: $color_blue_grey!important;
}
.i-green {
  color: $white!important;
  background-color: $color_green!important;
}
.i-light-green {
  color: $black!important;
  background-color: $color_light_green!important;
}
.i-indigo {
  color: $white!important;
  background-color: $color_indigo!important;
}
.i-khaki {
  color: $black!important;
  background-color: $color_khaki!important;
}
.i-lime {
  color: $black!important;
  background-color: $color_lime!important;
}
.i-orange {
  color: $black!important;
  background-color: $color_orange!important;
}
.i-deep-orange {
  color: $white!important;
  background-color: $color_deep_orange!important;
}
.i-pink {
  color: $white!important;
  background-color: $color_pink!important;
}
.i-purple {
  color: $white!important;
  background-color: $color_purple!important;
}
.i-deep-purple {
  color: $white!important;
  background-color: $color_deep_purple!important;
}
.i-red {
  color: $white!important;
  background-color: $color_red!important;
}
.i-sand {
  color: $black!important;
  background-color: $color_sand!important;
}
.i-teal {
  color: $white!important;
  background-color: $color_teal!important;
}
.i-yellow {
  color: $black!important;
  background-color: $color_yellow!important;
}
.i-white {
  color: $black!important;
  background-color: $white!important;
}
.i-black {
  color: $white!important;
  background-color: $black!important;
}
.i-grey {
  color: $white!important;
  background-color: $color_grey!important;
}
.i-light-grey {
  color: $color_grey!important;
  background-color: $color_light_grey!important;
}
.i-dark-grey {
  color: $white!important;
  background-color: $color_dark_grey!important;
}
.i-pale-red {
  color: $black!important;
  background-color: $color_pale_red!important;
}
.i-pale-green {
  color: $black!important;
  background-color: $color_pale_green!important;
}
.i-pale-yellow {
  color: $black!important;
  background-color: $color_pale_yellow!important;
}
.i-pale-blue {
  color: $black!important;
  background-color: $color_pale_blue!important;
}
.i-text-amber {
  color: $color_amber!important;
}
.i-text-aqua {
  color: $color_aqua!important;
}
.i-text-blue {
  color: $color_blue!important;
}
.i-text-light-blue {
  color: $color_light_blue!important;
}
.i-text-brown {
  color: $color_brown!important;
}
.i-text-cyan {
  color: $color_cyan!important;
}
.i-text-blue-grey {
  color: $color_blue_grey!important;
}
.i-text-green {
  color: $color_green!important;
}
.i-text-light-green {
  color: $color_light_green!important;
}
.i-text-indigo {
  color: $color_indigo!important;
}
.i-text-khaki {
  color: $color_khaki_text_hover!important;
}
.i-text-lime {
  color: $color_lime!important;
}
.i-text-orange {
  color: $color_orange!important;
}
.i-text-deep-orange {
  color: $color_deep_orange!important;
}
.i-text-pink {
  color: $color_pink!important;
}
.i-text-purple {
  color: $color_purple!important;
}
.i-text-deep-purple {
  color: $color_deep_purple!important;
}
.i-text-red {
  color: $color_red!important;
}
.i-text-sand {
  color: $color_sand!important;
}
.i-text-teal {
  color: $color_teal!important;
}
.i-text-yellow {
  color: $color_yellow_text_hover!important;
}
.i-text-white {
  color: $white!important;
}
.i-text-black {
  color: $black!important;
}
.i-text-grey {
  color: $color_grey_text_hover!important;
}
.i-text-light-grey {
  color: $color_light_grey!important;
}
.i-text-dark-grey {
  color: $color_dark_grey_text_hover!important;
}
.i-border-amber {
  border-color: $color_amber!important;
}
.i-border-aqua {
  border-color: $color_aqua!important;
}
.i-border-blue {
  border-color: $color_blue!important;
}
.i-border-light-blue {
  border-color: $color_light_blue!important;
}
.i-border-brown {
  border-color: $color_brown!important;
}
.i-border-cyan {
  border-color: $color_cyan!important;
}
.i-border-blue-grey {
  border-color: $color_blue_grey!important;
}
.i-border-green {
  border-color: $color_green!important;
}
.i-border-light-green {
  border-color: $color_light_green!important;
}
.i-border-indigo {
  border-color: $color_indigo!important;
}
.i-border-khaki {
  border-color: $color_khaki!important;
}
.i-border-lime {
  border-color: $color_lime!important;
}
.i-border-orange {
  border-color: $color_orange!important;
}
.i-border-deep-orange {
  border-color: $color_deep_orange!important;
}
.i-border-pink {
  border-color: $color_pink!important;
}
.i-border-purple {
  border-color: $color_purple!important;
}
.i-border-deep-purple {
  border-color: $color_deep_purple!important;
}
.i-border-red {
  border-color: $color_red!important;
}
.i-border-sand {
  border-color: $color_sand!important;
}
.i-border-teal {
  border-color: $color_teal!important;
}
.i-border-yellow {
  border-color: $color_yellow!important;
}
.i-border-white {
  border-color: $white!important;
}
.i-border-black {
  border-color: $black!important;
}
.i-border-grey {
  border-color: $color_grey!important;
}
.i-border-light-grey {
  border-color: $color_light_grey!important;
}
.i-border-dark-grey {
  border-color: $color_dark_grey!important;
}
.i-border-pale-red {
  border-color: $color_pale_red_border_hover!important;
}
.i-border-pale-green {
  border-color: $color_pale_green_border_hover!important;
}
.i-border-pale-yellow {
  border-color: $color_pale_yellow!important;
}
.i-border-pale-blue {
  border-color: $color_pale_blue_border_hover!important;
}
.i-hover-amber:hover {
  color: $black!important;
  background-color: $color_amber!important;
}
.i-hover-aqua:hover {
  color: $black!important;
  background-color: $color_aqua!important;
}
.i-hover-blue:hover {
  color: $white!important;
  background-color: $color_blue!important;
}
.i-hover-light-blue:hover {
  color: $black!important;
  background-color: $color_light_blue!important;
}
.i-hover-brown:hover {
  color: $white!important;
  background-color: $color_brown!important;
}
.i-hover-cyan:hover {
  color: $black!important;
  background-color: $color_cyan!important;
}
.i-hover-blue-grey:hover {
  color: $white!important;
  background-color: $color_blue_grey!important;
}
.i-hover-green:hover {
  color: $white!important;
  background-color: $color_green!important;
}
.i-hover-light-green:hover {
  color: $black!important;
  background-color: $color_light_green!important;
}
.i-hover-indigo:hover {
  color: $white!important;
  background-color: $color_indigo!important;
}
.i-hover-khaki:hover {
  color: $black!important;
  background-color: $color_khaki!important;
}
.i-hover-lime:hover {
  color: $black!important;
  background-color: $color_lime!important;
}
.i-hover-orange:hover {
  color: $black!important;
  background-color: $color_orange!important;
}
.i-hover-deep-orange:hover {
  color: $white!important;
  background-color: $color_deep_orange!important;
}
.i-hover-pink:hover {
  color: $white!important;
  background-color: $color_pink!important;
}
.i-hover-purple:hover {
  color: $white!important;
  background-color: $color_purple!important;
}
.i-hover-deep-purple:hover {
  color: $white!important;
  background-color: $color_deep_purple!important;
}
.i-hover-red:hover {
  color: $white!important;
  background-color: $color_red!important;
}
.i-hover-sand:hover {
  color: $black!important;
  background-color: $color_sand!important;
}
.i-hover-teal:hover {
  color: $white!important;
  background-color: $color_teal!important;
}
.i-hover-yellow:hover {
  color: $black!important;
  background-color: $color_yellow!important;
}
.i-hover-white:hover {
  color: $black!important;
  background-color: $white!important;
}
.i-hover-black:hover {
  color: $white!important;
  background-color: $black!important;
}
.i-hover-grey:hover {
  color: $black!important;
  background-color: $color_grey!important;
}
.i-hover-light-grey:hover {
  color: $black!important;
  background-color: $color_light_grey!important;
}
.i-hover-dark-grey:hover {
  color: $white!important;
  background-color: $color_dark_grey!important;
}
.i-hover-pale-red:hover {
  color: $black!important;
  background-color: $color_pale_red!important;
}
.i-hover-pale-green:hover {
  color: $black!important;
  background-color: $color_pale_green!important;
}
.i-hover-pale-yellow:hover {
  color: $black!important;
  background-color: $color_pale_yellow!important;
}
.i-hover-pale-blue:hover {
  color: $black!important;
  background-color: $color_pale_blue!important;
}
.i-hover-text-amber:hover {
  color: $color_amber!important;
}
.i-hover-text-aqua:hover {
  color: $color_aqua!important;
}
.i-hover-text-blue:hover {
  color: $color_blue!important;
}
.i-hover-text-light-blue:hover {
  color: $color_light_blue!important;
}
.i-hover-text-brown:hover {
  color: $color_brown!important;
}
.i-hover-text-cyan:hover {
  color: $color_cyan!important;
}
.i-hover-text-blue-grey:hover {
  color: $color_blue_grey!important;
}
.i-hover-text-green:hover {
  color: $color_green!important;
}
.i-hover-text-light-green:hover {
  color: $color_light_green!important;
}
.i-hover-text-indigo:hover {
  color: $color_indigo!important;
}
.i-hover-text-khaki:hover {
  color: $color_khaki_text_hover!important;
}
.i-hover-text-lime:hover {
  color: $color_lime!important;
}
.i-hover-text-orange:hover {
  color: $color_orange!important;
}
.i-hover-text-deep-orange:hover {
  color: $color_deep_orange!important;
}
.i-hover-text-pink:hover {
  color: $color_pink!important;
}
.i-hover-text-purple:hover {
  color: $color_purple!important;
}
.i-hover-text-deep-purple:hover {
  color: $color_deep_purple!important;
}
.i-hover-text-red:hover {
  color: $color_red!important;
}
.i-hover-text-sand:hover {
  color: $color_sand!important;
}
.i-hover-text-teal:hover {
  color: $color_teal!important;
}
.i-hover-text-yellow:hover {
  color: $color_yellow_text_hover!important;
}
.i-hover-text-white:hover {
  color: $white!important;
}
.i-hover-text-black:hover {
  color: $black!important;
}
.i-hover-text-grey:hover {
  color: $color_grey_text_hover!important;
}
.i-hover-text-light-grey:hover {
  color: $color_light_grey!important;
}
.i-hover-text-dark-grey:hover {
  color: $color_dark_grey_text_hover!important;
}
.i-hover-border-amber:hover {
  border-color: $color_amber!important;
}
.i-hover-border-aqua:hover {
  border-color: $color_aqua!important;
}
.i-hover-border-blue:hover {
  border-color: $color_blue!important;
}
.i-hover-border-light-blue:hover {
  border-color: $color_light_blue!important;
}
.i-hover-border-brown:hover {
  border-color: $color_brown!important;
}
.i-hover-border-cyan:hover {
  border-color: $color_cyan!important;
}
.i-hover-border-blue-grey:hover {
  border-color: $color_blue_grey!important;
}
.i-hover-border-green:hover {
  border-color: $color_green!important;
}
.i-hover-border-light-green:hover {
  border-color: $color_light_green!important;
}
.i-hover-border-indigo:hover {
  border-color: $color_indigo!important;
}
.i-hover-border-khaki:hover {
  border-color: $color_khaki!important;
}
.i-hover-border-lime:hover {
  border-color: $color_lime!important;
}
.i-hover-border-orange:hover {
  border-color: $color_orange!important;
}
.i-hover-border-deep-orange:hover {
  border-color: $color_deep_orange!important;
}
.i-hover-border-pink:hover {
  border-color: $color_pink!important;
}
.i-hover-border-purple:hover {
  border-color: $color_purple!important;
}
.i-hover-border-deep-purple:hover {
  border-color: $color_deep_purple!important;
}
.i-hover-border-red:hover {
  border-color: $color_red!important;
}
.i-hover-border-sand:hover {
  border-color: $color_sand!important;
}
.i-hover-border-teal:hover {
  border-color: $color_teal!important;
}
.i-hover-border-yellow:hover {
  border-color: $color_yellow!important;
}
.i-hover-border-white:hover {
  border-color: $white!important;
}
.i-hover-border-black:hover {
  border-color: $black!important;
}
.i-hover-border-grey:hover {
  border-color: $color_grey!important;
}
.i-hover-border-light-grey:hover {
  border-color: $color_light_grey!important;
}
.i-hover-border-dark-grey:hover {
  border-color: $color_dark_grey!important;
}
.i-hover-border-pale-red:hover {
  border-color: $color_pale_red_border_hover!important;
}
.i-hover-border-pale-green:hover {
  border-color: $color_pale_green_border_hover!important;
}
.i-hover-border-pale-yellow:hover {
  border-color: $color_pale_yellow!important;
}
.i-hover-border-pale-blue:hover {
  border-color: $color_pale_blue_border_hover!important;
}