.i-container {
  padding: 0.01em 16px;
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
}

.i-panel {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  &:after {
    @extend %extend_11;
  }
  &:before {
    @extend %extend_11;
  }
}

.i-tag {
  @extend %extend_7;
}

.i-badge {
  @extend %extend_7;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
}

.i-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 8px 16px;
    border-bottom: 1px solid $color_alto_approx;
    &:last-child {
      border-bottom: none;
    }
  }
  &.i-hoverable li:hover {
    background-color: $color_celeste_approx;
  }
}

.i-code {
  font-family: $font_6, $font_7;
  font-size: 16px;
  width: auto;
  background-color: $white;
  padding: 8px 12px;
  border-left: 4px solid $color_green;
  word-wrap: break-word;
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}
.i-codespan {
  font-family: $font_6, $font_7;
  font-size: 16px;
  color: $crimson;
  background-color: $color_light_grey;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}