.i-center {
  text-align: center!important;
  .i-bar {
    display: inline-block;
    width: auto;
  }
}

.i-left {
  float: left!important;
}

.i-right {
  float: right!important;
}

.i-left-align {
  text-align: left!important;
}

.i-right-align {
  text-align: right!important;
}

.i-justify {
  text-align: justify!important;
}

.i-hide {
  display: none!important;
}

.i-show {
  display: block!important;
}

.i-show-block {
  display: block!important;
}

.i-show-inline-block {
  display: inline-block!important;
}

.i-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.i-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}


.i-display-container {
  position: relative;
  &:hover {
    .i-display-hover {
      display: block;
    }
    span.i-display-hover {
      display: inline-block;
    }
  }
}

.i-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.i-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.i-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.i-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.i-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, -50%);
}

.i-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(0%, -50%);
}

.i-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(0%, -50%);
}

.i-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, 0);
}

.i-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, 0);
}

.i-display-position {
  position: absolute;
}

.i-display-hover {
  display: none;
}
