.i-dropdown-click {
  @extend %extend_8;
  &:hover {
    background-color: $color_celeste_approx;
    color: $black;
    > .i-button:first-child {
      background-color: $color_celeste_approx;
      color: $black;
    }
  }
}

.i-dropdown-hover {
  @extend %extend_8;
  &:hover {
    .i-dropdown-content {
      display: block;
      z-index: 1;
    }
    > .i-button:first-child {
      background-color: $color_celeste_approx;
      color: $black;
    }
  }
  &:first-child {
    background-color: $color_celeste_approx;
    color: $black;
  }
}

.i-dropdown-content {
  cursor: auto;
  color: $black;
  background-color: $white;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
}