//fonts family
$font_0: monospace;
$font_1: Verdana;
$font_2: sans-serif;
$font_3: serif;
$font_4: Segoe UI;
$font_5: Arial;
$font_6: Consolas;
$font_7: courier new;

//fonts size
.i-tiny {
  font-size: 10px!important;
}
.i-small {
  font-size: 12px!important;
}
.i-medium {
  font-size: 15px!important;
}
.i-large {
  font-size: 18px!important;
}
.i-xlarge {
  font-size: 24px!important;
}
.i-xxlarge {
  font-size: 36px!important;
}
.i-xxxlarge {
  font-size: 48px!important;
}
.i-jumbo {
  font-size: 64px!important;
}