.i-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid $color_celeste_approx;
  width: 100%;
}

.i-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color_celeste_approx;
}

.i-check {
  @extend %extend_9;
}

.i-radio {
  @extend %extend_9;
}

.i-animate-input {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: width 0.4s ease-in-out;
  &:focus {
    width: 100%!important;
  }
}