.i-cell-row {
  display: table;
  width: 100%;
  &:before {
    @extend %extend_11;
  }
  &:after {
    @extend %extend_11;
  }
}

.i-cell {
  display: table-cell;
}
.i-cell-top {
  vertical-align: top;
}
.i-cell-middle {
  vertical-align: middle;
}
.i-cell-bottom {
  vertical-align: bottom;
}